.navbar-logo {
  max-width: 200px;
  background-color: white;
  padding: 10px;
}

.nav-link {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}
.nav-link:hover {
  background-color: #fff;
  color: #000;
}

.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 10px 0px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}


/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.nav-link {
  font-weight: 600;
  text-transform: uppercase;
}
